//Color theme main
//-----------------------------------
$gray-darker:             #312f3b; //
$gray-dark:               #333333;
$gray:                    #555555;
$gray-light:              #838386; //
$gray-lighter:            #f3f6fd; //

$gray-1:                  #c2c2c3; //
$gray-2:                  #ededed; //
$gray-3:                  #7f839a; //
$gray-4:                  #d8dae2; //

$primary:                 #fdd55b; //

$secondary:               #ff654e; //
$secondary-1:             #ffec17; //
$secondary-2:             #ff654e; //
$secondary-3:             #080ab4; //
$secondary-4:             #6e7b9d; //
$secondary-7:             #6a0dac; //

$secondary-5:             #21212e; //
$secondary-6:             #dedfe8; //