extends  ../_skeleton

//- Includes
include ../elements/_ui-style-switcher
include ../elements/_ui-team-classic
include ../elements/_ui-gallery-item

block variables
  - var activeIndex = 3
  - var pageName = 'Gallery Masonry Outside Title'

block page
  // Page Header
  +breadcrumbs-header({ headerClass: 'breadcrumbs-background-02',
    text: "Outside Title",
    title: 'Masonry Gallery',
    path: [[menu[activeIndex].title, menu[activeIndex].link], ['Masonry Gallery Outside Title']]
  })

  // titled Grid gallery
  section.section.section-lg.text-center.bg-white
    
    .shell-wide
      h3 projects & employees
      .isotope-wrap.range.range-0
        // Isotope Filters
        .cell-lg-12
          ul.isotope-filters.isotope-filters-horizontal
            li.block-top-level
              p.big Choose your category:
              // Isotope Filters
              button.isotope-filters-toggle.button.button-xs.button-primary(data-custom-toggle='.isotope-filters-list', data-custom-toggle-hide-on-blur='true')
                | Filter
                span.caret

              ul.isotope-filters-list
                li
                  a.active(data-isotope-filter='*', data-isotope-group='gallery-01', href='#') All Categories
                li
                  a(data-isotope-filter='type 1', data-isotope-group='gallery-01', href='#') Type 1
                li
                  a(data-isotope-filter='type 2', data-isotope-group='gallery-01', href='#') Type 2

        // Isotope Content
        .cell-lg-12
          .isotope.isotope-titled-gallery(data-isotope-layout='masonry', data-isotope-group='gallery-01', data-lightgallery='group')
            .row
              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='type 1')
                +gallery-item({
                  classMod: 'titled-gallery-item',
                  lightGallery: 'group-item',
                  img: 'masonry-gallery-outside-01-570x874',
                  original: 'gallery-01-original',
                  figcaption: 'Corporate taxi'
                })
              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='type 1')
                +gallery-item({
                  classMod: 'titled-gallery-item',
                  lightGallery: 'group-item',
                  img: 'masonry-gallery-outside-02-570x380',
                  original: 'gallery-02-original',
                  figcaption: 'Fast & safe driving'
                })

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='type 1')
                +gallery-item({
                  classMod: 'titled-gallery-item',
                  lightGallery: 'group-item',
                  img: 'masonry-gallery-outside-03-570x874',
                  original: 'gallery-03-original',
                  figcaption: 'Timely airport transfer'
                })

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='type 2')
                +gallery-item({
                  classMod: 'titled-gallery-item',
                  lightGallery: 'group-item',
                  img: 'masonry-gallery-outside-04-570x874',
                  original: 'gallery-05-original',
                  figcaption: 'Modern and extensive fleet'
                })

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='type 2')
                +gallery-item({
                  classMod: 'titled-gallery-item',
                  lightGallery: 'group-item',
                  img: 'masonry-gallery-outside-05-570x380',
                  original: 'gallery-04-original',
                  figcaption: 'Worldwide service availability'
                })

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='type 2')
                +gallery-item({
                  classMod: 'titled-gallery-item',
                  lightGallery: 'group-item',
                  img: 'masonry-gallery-outside-06-570x380',
                  original: 'gallery-06-original',
                  figcaption: 'Qualified drivers'
                })
  ="\n"

  // Page Footer
  +footer-extended({     className: 'bg-gray-darker',     instaType : 'tagged',     tagName : 'bTaxiTM'   })