ul.rd-navbar-nav
	li(class={'active' : activeIndex === 0})
		a(href='index.html') Home
		ul.rd-navbar-dropdown
			li: a(href='landing-default.html') Landing Default
			li: a(href='landing-auction.html') Landing Auction
			li: a(href='landing-environmental.html') Landing Environmental
			li: a(href='landing-it-company.html') Landing IT Company
			li: a(href='landing-maritime.html') Landing Maritime
			li: a(href='landing-museum.html') Landing Museum
			li: a(href='landing-private-airlines.html') Landing Private Airlines
			li: a(href='landing-taxi.html') Landing Taxi
			li: a(href='landing-trucking.html') Landing Trucking
			li: a(href='landing-theatre.html') Landing Theatre
			li: a(href='landing-movie.html') Landing Movie
			li: a(href='landing-seo.html') Landing SEO


	li.rd-navbar--has-megamenu.rd-navbar-submenu(class={'active' : activeIndex === 1})
		a(href='#') Elements
		// RD Navbar Megamenu
		ul.rd-navbar-megamenu
			li
				ul.rd-megamenu-list
					li: a(href='accordions.html') Accordions
					li: a(href='backgrounds-video.html') Background Video
					li: a(href='boxes.html') Boxes
					li: a(href='buttons.html') Buttons
					li: a(href='colors.html') Colors
					li: a(href='countdown.html') Countdown
					li: a(href='facebook.html') Facebook
					li: a(href='flickr.html') Flickr	
			li
				ul.rd-megamenu-list
					li: a(href='forms.html') Forms
					li: a(href='gradient-backgrounds.html') Gradient Backgrounds
					li: a(href='grid-system.html') Grid System
					li: a(href='image-backgrounds.html') Image Backgrounds
					li: a(href='inline-video.html') Inline video
					li: a(href='in-page-navigation.html') In-Page Navigation
					li: a(href='instagram.html') Instagram
					li: a(href='lightboxes.html') Lightboxes
			li
				ul.rd-megamenu-list
					li: a(href='maps.html') Maps
					li: a(href='modals.html') Modals
					li: a(href='notifications.html') Notifications
					li: a(href='parallax.html') Parallax
					li: a(href='pricing.html') Pricing
					li: a(href='radials.html') Radials
					li: a(href='scrims-and-overlays.html') Scrims and Overlays
					li: a(href='isotope.html') Isotope
			li
				ul.rd-megamenu-list
					li: a(href='sliders.html') Sliders
					li: a(href='tables.html') Tables	
					li: a(href='tabs.html') Tabs
					li: a(href='tooltips.html') Tooltips
					li: a(href='twitter-feed.html') Twitter Feed
					li: a(href='typed-text.html') Typed Text
					li: a(href='typography.html') Typography					
					
	li.rd-navbar--has-megamenu.rd-navbar-submenu(class={'active' : activeIndex === 2})
		a(href='#') Blocks
		// RD Navbar Megamenu
		ul.rd-navbar-megamenu
			li
				ul.rd-megamenu-list
					li: a(href='blocks-accordions.html') Accordions
					li: a(href='blocks-cta.html') Call to Actions
					li: a(href='blocks-cards.html') Cards
					li: a(href='blocks-contact-forms.html') Contact Forms
					li: a(href='blocks-footers.html') Footers
					li: a(href='blocks-galleries.html') Galleries

			li
				ul.rd-megamenu-list
					li: a(href='blocks-instagram.html') Instagram
					li: a(href='blocks-large-features.html') Large Features
					li: a(href='blocks-maps.html') Maps
					li: a(href='blocks-navigation-bars.html') Navigation Bars
					li: a(href='blocks-pricing.html') Pricing
					li: a(href='blocks-processes.html') Processes

			li
				ul.rd-megamenu-list
					li: a(href='blocks-signup-forms.html') Sign Up Forms
					li: a(href='blocks-sliders.html') Sliders
					li: a(href='blocks-small-features.html') Small Features
					li: a(href='blocks-subscription-forms.html') Subscribe Forms
					li: a(href='blocks-tabs.html') Tabs
					li: a(href='blocks-teams.html') Teams

			li
				ul.rd-megamenu-list
					li: a(href='blocks-testimonials.html') Testimonials
					li: a(href='blocks-text-layouts.html') Text Layouts
					li: a(href='blocks-twitter.html') Twitter
					li: a(href='blocks-titles.html') Titles
					li: a(href='blocks-videos.html') Videos
					li: a(href='blocks-isotope.html') Isotope

	li.rd-navbar--has-megamenu.rd-navbar-submenu(class={'active' : activeIndex === 3})
		a(href='#') Pages
		// RD Navbar Megamenu
		ul.rd-navbar-megamenu
			li
				ul.rd-megamenu-list
					li: a(href='404-page.html') 404 Page
					li: a(href='503-page.html') 503 Page
					li: a(href='about-me.html') About Me
					li: a(href='about-us.html') About Us
					li: a(href='careers.html') Careers
					li: a(href='coming-soon.html') Coming Soon
					li: a(href='contacts.html') Contacts
					li: a(href='contacts-variant-2.html') Contacts variant 2
					li: a(href='login-page.html') Login Page
					li: a(href='our-history.html') Our History

			li
				ul.rd-megamenu-list
					li: a(href='pricing-page.html') Pricing Page
					li: a(href='registration-page.html') Registration Page
					li: a(href='search-results.html') Search Results
					li: a(href='single-job.html') Single Job
					li: a(href='services.html') Services
					li: a(href='single-service.html') Single Service
					li: a(href='services-variant-2.html') Services variant 2
					li: a(href='under-construction.html') Under Construction
					li: a(href='shop-3-columns-layout.html') Shop 3 Columns Layout
					li: a(href='shop-4-columns-layout.html') Shop 4 Columns Layout
			li
				ul.rd-megamenu-list
					li: a(href='checkout.html') Checkout
					li: a(href='product-page.html') Product Page
					li: a(href='shopping-cart.html') Shopping Cart
					li: a(href='classic-blog.html') Classic Blog
					li: a(href='grid-blog.html') Grid Blog
					li: a(href='masonry-blog.html') Masonry Blog
					li: a(href='modern-blog.html') Modern Blog
					li: a(href='audio-post.html') Audio Post
					li: a(href='single-post.html') Single Post
					li: a(href='image-post.html') Image Post
					li: a(href='video-post.html') Video Post
			li
				ul.rd-megamenu-list
					li: a(href='grid-gallery-outside-title.html') Grid Gallery Outside Title
					li: a(href='grid-gallery-inside-title.html') Grid Gallery Inside Title
					li: a(href='grid-gallery-hover-title.html') Grid Gallery Hover Title
					li: a(href='masonry-gallery-inside-title.html') Masonry Gallery Inside Title
					li: a(href='masonry-gallery-outside-title.html') Masonry Gallery Outside Title
					li: a(href='masonry-gallery-hover-title.html') Masonry Gallery Hover Title
					li: a(href='fullwidth-gallery-hover-title.html') Fullwidth Gallery Hover Title
					li: a(href='fullwidth-gallery-inside-title.html') Fullwidth Gallery Inside Title
					li: a(href='grid-album-gallery.html') Grid Album Gallery
					li: a(href='single-project.html') Single Project
					li: a(href='single-event.html') Single Event