-
	var
	brandName = 'Brave Theme',
	logoDefault = 'logo-default-128x52',
	logoInverse = 'logo-inverse-362x92',
	blogLink = 'classic-blog.html'
	postLink = 'single-post.html',
	productSingle = 'product-page.html',
	videoLink = '//www.youtube.com/embed/iYsTvn1bHfU',
	videoLinkPop = '//www.youtube.com/watch?v=iYsTvn1bHfU',
	getTemplateLink = 'https://www.templatemonster.com/website-templates/62466.html',
	builderLink = 'http://ld-wp2.template-help.com/novi-builder/brave/',
	includeLayoutPanel = false,
	menu = [
		{
			title: 'Home',
			link: 'index.html'
		},
		{ title: 'About Us' },
		{ title: 'Services',
			link: '#',
			dropdown: [
				{ title: 'Services' },
				{ title: 'Single Service' }
			]	
		},
		{ title: 'Gallery',
			link: '#',
			dropdown: [
				{ title: 'Grid Album Gallery' },
				{ title: 'Fullwidth Gallery Inside Title' },
				{ title: 'Grid Gallery Outside Title' },
				{ title: 'Masonry Gallery Outside Title' }
			]
		}, 
		{ title: 'Blog',
			link: '#',
			dropdown: [
				{ title: 'Classic Blog' },
				{ title: 'Grid Blog' }, 
				{ title: 'Masonry Blog' },
				{ title: 'Modern Blog' },
				{ title: 'Audio Post' },
				{ title: 'Image Post' },
				{ title: 'Single Post' },
				{ title: 'Video Post' }
			]
		}, 
		{
			title: 'Pages',
			link: '#',
			megamenuClass: 'rd-navbar-megamenu-banner',
			megamenu: [
				{
					megamenu_img: 'accordions-1-570x600'
				},
				{
					list: [
						{ title: '404 Page' },
						{ title: '503 Page' },
						{ title: 'Careers' },
						{ title: 'Single Job' },
						{ title: 'Coming Soon' },
						{ title: 'Pricing' },
						{ title: 'Tooltips' }
					]
				},
				{
					list: [
						{ title: 'Our History' },
						{ title: 'Login Page' },
						{ title: 'Registration Page' },
						{ title: 'Search Results' },
						{ title: 'Under Construction' },
						{ title: 'Privacy policy' }
					]
				}, 
				{
					list: [
						{ title: 'Accordions' },
						{ title: 'Countdown' },
						{ title: 'Forms' },
						{ title: 'Grid System' },
						{ title: 'Tables' },
						{ title: 'Tabs' },
						{ title: 'Typography' },
						{ title: 'Radials' }
					]
				}
			]
		},   
		{ title: 'Contacts' }
	]