.range.range-50(data-lightgallery='group')
  .cell-xs-12.cell-sm-6.cell-md-4
    +gallery-item({
      classMod: 'titled-gallery-item',
      lightGallery: 'group-item',
      img: 'gallery-grid-01-570x380',
      original: 'gallery-01-original',
      figcaption: 'Corporate taxi'
    })
  .cell-xs-12.cell-sm-6.cell-md-4
    +gallery-item({
      classMod: 'titled-gallery-item',
      lightGallery: 'group-item',
      img: 'gallery-grid-02-570x380',
      original: 'gallery-02-original',
      figcaption: 'Fast & safe driving'
    })

  .cell-xs-12.cell-sm-6.cell-md-4
    +gallery-item({
      classMod: 'titled-gallery-item',
      lightGallery: 'group-item',
      img: 'gallery-grid-03-570x380',
      original: 'gallery-03-original',
      figcaption: 'Timely airport transfer'
    })

  .cell-xs-12.cell-sm-6.cell-md-4
    +gallery-item({
      classMod: 'titled-gallery-item',
      lightGallery: 'group-item',
      img: 'gallery-grid-04-570x380',
      original: 'gallery-04-original',
      figcaption: 'Worldwide service availability'
    })

  .cell-xs-12.cell-sm-6.cell-md-4
    +gallery-item({
      classMod: 'titled-gallery-item',
      lightGallery: 'group-item',
      img: 'gallery-grid-05-570x380',
      original: 'gallery-05-original',
      figcaption: 'Modern and extensive fleet'
    })

  .cell-xs-12.cell-sm-6.cell-md-4
    +gallery-item({
      classMod: 'titled-gallery-item',
      lightGallery: 'group-item',
      img: 'gallery-grid-06-570x380',
      original: 'gallery-06-original',
      figcaption: 'Qualified drivers'
    })