// Modal
#cookies-notification.notification.notification-dark.modal.modal-custom.fade.slideRight(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true')
      .modal-body.re
        p By visiting our site, you agree to use of cookies #[br.veil.reveal-sm-inline] to enhance your browsing experience.
        a(href='#').button.button-xs.button-secondary.button-nina I agree