.cell-lg-3.cell-sm-6.cell-md-4
  .box-info
    .box-info-inner
      h6.box-info-title Accountant/finance manager
      p If you have more than 3 years of experience in finance management and want to be join our team, send your CV!
    .box-info-footer
      ul.list-inline-md
        li.box-inline
          span.icon.mdi-calendar-clock.icon-primary.mdi
          span Full Time
        li.box-inline
          span.icon.icon-primary.mdi.mdi-map-marker
          span Chicago

.cell-lg-3.cell-sm-6.cell-md-4
  .box-info
    .box-info-inner
      h6.box-info-title Fueler
      p If you are looking for a really challenging opportunity, the position of Fueler at Luxury Taxi is a place to start.
    .box-info-footer
      ul.list-inline-md
        li.box-inline
          span.icon.mdi-calendar-clock.icon-primary.mdi
          span Full Time
        li.box-inline
          span.icon.icon-primary.mdi.mdi-map-marker
          span New York

.cell-lg-3.cell-sm-6.cell-md-4
  .box-info
    .box-info-inner
      h6.box-info-title receptionist
      p Luxury Taxi is looking for a part-time receptionist who is responsible and energetic to become part of our team.
    .box-info-footer
      ul.list-inline-md
        li.box-inline
          span.icon.mdi-calendar-clock.icon-primary.mdi
          span Full Time
        li.box-inline
          span.icon.icon-primary.mdi.mdi-map-marker
          span San Diego

.cell-lg-3.cell-sm-6.cell-md-4
  .box-info
    .box-info-inner
      h6.box-info-title Junior dispatcher
      p Our team is looking for junior dispatcher (trainee), which will be responsible for dispatching taxi drivers to customers.
    .box-info-footer
      ul.list-inline-md
        li.box-inline
          span.icon.mdi-calendar-clock.icon-primary.mdi
          span Full Time
        li.box-inline
          span.icon.icon-primary.mdi.mdi-map-marker
          span Chicago