.cell-sm-6.cell-md-4.cell-lg-3.cell-xl-3
  .product
    .product-image
      a(href='product-page.html')
        +jpg('book-01-188x246')
    .product-title
      h5
        a(href='product-page.html') Immutable Laws
          br.veil.reveal-xxl-block
          | &nbsp;of Marketing
    .product-price
      h6 $27.00
    .product-button
      a.button.button-secondary.button-nina(href='shopping-cart.html') add to cart

.cell-sm-6.cell-md-4.cell-lg-3.cell-xl-3
  .product
    .product-image
      a(href='product-page.html')
        +jpg('book-02-188x246')
    .product-title
      h5
        a(href='product-page.html') The Art of
          br.veil.reveal-xxl-block
          | &nbsp;Leadership
    .product-price
      h6 $25.00
    .product-button
      a.button.button-secondary.button-nina(href='shopping-cart.html') add to cart

.cell-sm-6.cell-md-4.cell-lg-3.cell-xl-3
  .product
    .product-image
      a(href='product-page.html')
        +jpg('book-03-188x246')
    .product-title
      h5
        a(href='product-page.html') The Basics of
          br.veil.reveal-xxl-block
          | &nbsp;Web Design
    .product-price
      h6 $21.00
    .product-button
      a.button.button-secondary.button-nina(href='shopping-cart.html') add to cart

.cell-sm-6.cell-md-4.cell-lg-3.cell-xl-3
  .product
    .product-image
      a(href='product-page.html')
        +jpg('book-04-188x246')
    .product-title
      h5
        a(href='product-page.html') Grid Systems in
          br.veil.reveal-xxl-block
          | &nbsp;Web Design
    .product-price
      h6 $29.00
    .product-button
      a.button.button-secondary.button-nina(href='shopping-cart.html') add to cart