.cell-sm-6.cell-md-4.cell-lg-3.cell-xl-3
  .product
    .product-image
      a(href='product-page.html')
        +jpg('book-05-188x246')
    .product-title
      h5
        a(href='product-page.html') Tools That Reveal Why Your

          br.veil.reveal-xxl-block
          | &nbsp;
          | Users Abandon Your Website
    .product-price
      h6 $25.00
    .product-button
      a.button.button-secondary.button-nina(href='shopping-cart.html') add to cart

.cell-sm-6.cell-md-4.cell-lg-3.cell-xl-3
  .product
    .product-image
      a(href='product-page.html')
        +jpg('book-06-188x246')
    .product-title
      h5
        a(href='product-page.html') Dangerous Side Effects
          br.veil.reveal-xxl-block
          | &nbsp;
          | of Bad Customer Service
    .product-price
      h6 $21.00
    .product-button
      a.button.button-secondary.button-nina(href='shopping-cart.html') add to cart

.cell-sm-6.cell-md-4.cell-lg-3.cell-xl-3
  .product
    .product-image
      a(href='product-page.html')
        +jpg('book-07-188x246')
    .product-title
      h5
        a(href='product-page.html') Intro Guide to UX Reviews
          br.veil.reveal-xxl-block
          | &nbsp;
          | for Web Designers
    .product-price
      h6 $29.00
    .product-button
      a.button.button-secondary.button-nina(href='shopping-cart.html') add to cart

.cell-sm-6.cell-md-4.cell-lg-3.cell-xl-3
  .product
    .product-image
      a(href='product-page.html')
        +jpg('book-08-188x246')
    .product-title
      h5
        a(href='product-page.html') How to Create a Web Design
          br.veil.reveal-xxl-block
          | &nbsp;
          | Style Guide
    .product-price
      h6 $29.00
    .product-button
      a.button.button-secondary.button-nina(href='shopping-cart.html') add to cart