// Modal
#sale-modal.modal.modal-custom.modal-photo.modal-sale.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true')
      .modal-body
        p.sale-body-subtitle Space Sale
        p.sale-body-title 30% OFF
        a(href='shop-4-columns-layout.html').button.form-button.button-lg.button-secondary.button-nina shop now