// Modal
#trigger-notification.notification.modal.modal-custom.fade.slideRight(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true')
        h4.modal-title well triggered!
      .modal-body
        | Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.