.cell-lg-3.cell-sm-6.cell-md-4
  .box-info
    .box-info-inner
      h6.box-info-title Dispatcher
      p We are seeking an individual who has experience in dispatching fleets such as: taxi, sedan and limousine.
    .box-info-footer
      ul.list-inline-md
        li.box-inline
          span.icon.mdi-calendar-clock.icon-primary.mdi
          span Full Time
        li.box-inline
          span.icon.icon-primary.mdi.mdi-map-marker
          span New York

.cell-lg-3.cell-sm-6.cell-md-4
  .box-info
    .box-info-inner
      h6.box-info-title customer care department manager
      p We are currently looking for managers with experience in customer care and support to join our team.
    .box-info-footer
      ul.list-inline-md
        li.box-inline
          span.icon.mdi-calendar-clock.icon-primary.mdi
          span Full Time
        li.box-inline
          span.icon.icon-primary.mdi.mdi-map-marker
          span San Diego

.cell-lg-3.cell-sm-6.cell-md-4
  .box-info
    .box-info-inner
      h6.box-info-title MECHANIC
      p We are interviewing for mechanic’s experienced in car and light truck. ASE certifications is a plus.
    .box-info-footer
      ul.list-inline-md
        li.box-inline
          span.icon.mdi-calendar-clock.icon-primary.mdi
          span Full Time
        li.box-inline
          span.icon.icon-primary.mdi.mdi-map-marker
          span Chicago

.cell-lg-3.cell-sm-6.cell-md-4
  .box-info
    .box-info-inner
      h6.box-info-title taxi driver
      p If you are currently a licensed professional taxi driver, we are ready to offer you long-term job opportunity.
    .box-info-footer
      ul.list-inline-md
        li.box-inline
          span.icon.mdi-calendar-clock.icon-primary.mdi
          span Part Time
        li.box-inline
          span.icon.icon-primary.mdi.mdi-map-marker
          span New York
