mixin default-pricing
  .range.range-xs-center.range-lg.range-30

    // Pricing Box
    .cell-sm-6.cell-lg-3
      .pricing-box.pricing-box-center.pricing-box-novi
        .pricing-box-header: h4 basic
        .pricing-box-body
          ul.pricing-box-list
            li Lots of locations
            li Waiting for over 10 min
            li Smoking car
            li.pricing-box-list-disable Luggage transportation
            li.pricing-box-list-disable Baby seat
            li.pricing-box-list-disable Animal transportation
          .pricing-box-price: .heading-4 $49.00
          a.button.button-sm.button-secondary.button-nina(href='#') buy now

    // Pricing Box
    .cell-sm-6.cell-lg-3
      .pricing-box.pricing-box-center.pricing-box-novi
        .pricing-box-header: h4 standard
        .pricing-box-body
          ul.pricing-box-list
            li Lots of locations
            li Waiting for over 10 min
            li Smoking car
            li Luggage transportation
            li.pricing-box-list-disable Baby seat
            li.pricing-box-list-disable Animal transportation
          .pricing-box-price: .heading-4 $69.00
          a.button.button-sm.button-secondary.button-nina(href='#') buy now

    // Pricing Box
    .cell-sm-6.cell-lg-3
      .pricing-box.pricing-box-center.pricing-box-novi
        .pricing-box-header: h4 gold
        .pricing-box-body
          ul.pricing-box-list
            li Lots of locations
            li Waiting for over 10 min
            li Smoking car
            li Luggage transportation
            li Baby seat
            li.pricing-box-list-disable Animal transportation
          .pricing-box-price: .heading-4 $88.00
          a.button.button-sm.button-secondary.button-nina(href='#') buy now

    // Pricing Box
    .cell-sm-6.cell-lg-3
      .pricing-box.pricing-box-center.pricing-box-novi
        .pricing-box-header: h4 platinum
        .pricing-box-body
          ul.pricing-box-list
            li Lots of locations
            li Waiting for over 10 min
            li Smoking car
            li Luggage transportation
            li Baby seat
            li Animal transportation
          .pricing-box-price: .heading-4 $108.00
          a.button.button-sm.button-secondary.button-nina(href='#') buy now

mixin alternative-pricing
  .range.range-xs-center.range-lg.range-condensed.range-100.pricing-box-wrap

    // Pricing Box Alternative
    .cell-sm-6.cell-md-4.cell-lg-3.pricing-box-wrap-element
      .pricing-box-alternative.pricing-box-novi.pricing-box-center
        .pricing-box-alternative-header: h4 basic
        ul.pricing-box-rating
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star-outline
          li: span.icon.icon-md.mdi.mdi-star-outline
          li: span.icon.icon-md.mdi.mdi-star-outline
        ul.pricing-box-list
          li Lots of locations
          li Waiting for over 10 min
          li Smoking car
          li.pricing-box-list-disable Luggage transportation
          li.pricing-box-list-disable Baby seat
          li.pricing-box-list-disable Animal transportation
        .pricing-box-price: .heading-4 $49.00
        .pricing-box-button: a.button.button-xs.button-secondary.button-nina(href='#') order now

    // Pricing Box Alternative
    .cell-sm-6.cell-md-4.cell-lg-3.pricing-box-wrap-element
      .pricing-box-alternative.pricing-box-novi.pricing-box-center
        .pricing-box-alternative-header: h4 standard
        ul.pricing-box-rating
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star-outline
          li: span.icon.icon-md.mdi.mdi-star-outline
        ul.pricing-box-list
          li Lots of locations
          li Waiting for over 10 min
          li Smoking car
          li Luggage transportation
          li.pricing-box-list-disable Baby seat
          li.pricing-box-list-disable Animal transportation
        .pricing-box-price: .heading-4 $69.00
        .pricing-box-button: a.button.button-xs.button-secondary.button-nina(href='#') order now

    // Pricing Box Alternative
    .cell-sm-6.cell-md-4.cell-lg-3.pricing-box-wrap-element
      .pricing-box-alternative.pricing-box-novi.pricing-box-center
        .pricing-box-alternative-header: h4 Gold
        ul.pricing-box-rating
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star-outline
        ul.pricing-box-list
          li Lots of locations
          li Waiting for over 10 min
          li Smoking car
          li Luggage transportation
          li Baby seat
          li.pricing-box-list-disable Animal transportation
        .pricing-box-price: .heading-4 $88.00
        .pricing-box-button: a.button.button-xs.button-secondary.button-nina(href='#') order now

    // Pricing Box Alternative
    .cell-sm-6.cell-md-4.cell-lg-3.pricing-box-wrap-element
      .pricing-box-alternative.pricing-box-novi.pricing-box-center
        .pricing-box-alternative-header: h4 platinum
        ul.pricing-box-rating
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
        ul.pricing-box-list
          li Lots of locations
          li Waiting for over 10 min
          li Smoking car
          li Luggage transportation
          li Baby seat
          li Animal transportation
        .pricing-box-price: .heading-4 $108.00
        .pricing-box-button: a.button.button-xs.button-secondary.button-nina(href='#') order now

mixin columns-pricing
  .range.range-xs-center.range-md.range-30

    // Pricing Box Lg
    .cell-sm-8.cell-lg-6
      .pricing-box.pricing-box-lg.pricing-box-novi
        .pricing-box-header.text-xs-left
          h4 gold
        .pricing-box-body
          .range.range-xs-middle
            .cell-xs-6.text-xs-left
              ul.pricing-box-list.list-marked
                li Lots of locations
                li Waiting for over 10 min
                li Smoking car
                li Luggage transportation
                li Baby seat
                li.pricing-box-list-disable Animal transportation
            .cell-xs-6.text-xs-right
              .pricing-box-price
                .pricing-box-price-old: .heading-5 $109.00
                .pricing-box-price-new: .heading-2 $88.00
              a.button.button-xs.button-secondary.button-nina(href='#') order now

    // Pricing Box Lg
    .cell-sm-8.cell-lg-6
      .pricing-box.pricing-box-lg.pricing-box-novi
        .pricing-box-header.text-xs-left
          h4 platinum
        .pricing-box-body
          .range.range-xs-middle
            .cell-xs-6.text-xs-left
              ul.pricing-box-list.list-marked
                li Lots of locations
                li Waiting for over 10 min
                li Smoking car
                li Luggage transportation
                li Baby seat
                li Animal transportation
            .cell-xs-6.text-xs-right
              .pricing-box-price
                .pricing-box-price-old: .heading-5 $139.00
                .pricing-box-price-new: .heading-2 $108.00
              a.button.button-xs.button-secondary.button-nina(href='#') order now

mixin xxl-pricing
  .range.range-md.range-50.range-xs-center

    // Pricing Box XL
    .cell-sm-6.cell-lg-3
      .box-price-info
        .box-price-info-image
          +png('car-01-210x72')

      .pricing-box.pricing-box-xl.pricing-box-novi
        .pricing-box-header
          h4 basic
        .pricing-box-price
          .heading-2
            sup $
            | 1.25/km
        a.button.button-sm.button-secondary.button-nina(href='#') order now
        .pricing-box-body
          ul.pricing-box-list
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-earth
                .unit-body: span Lots of locations
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-av-timer
                .unit-body: span Waiting for over 10 min
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-smoking
                .unit-body: span Smoking/Non-smoking car
            li.inactive
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-weight
                .unit-body: span Luggage transportation
            li.inactive
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-baby
                .unit-body: span Baby seat
            li.inactive
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-cat
                .unit-body: span Animal transportation

    // Pricing Box XL
    .cell-sm-6.cell-lg-3
      .box-price-info
        .box-price-info-image
          +png('car-02-255x77')

      .pricing-box.pricing-box-xl.pricing-box-novi
        .pricing-box-header
          h4 business
        .pricing-box-price
          .heading-2
            sup $
            | 2.50/km
        a.button.button-sm.button-secondary.button-nina(href='#') order now
        .pricing-box-body
          ul.pricing-box-list
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-earth
                .unit-body: span Lots of locations
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-av-timer
                .unit-body: span Waiting for over 10 min
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-smoking
                .unit-body: span Smoking/Non-smoking car
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-weight
                .unit-body: span Luggage transportation
            li.inactive
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-baby
                .unit-body: span Baby seat
            li.inactive
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-cat
                .unit-body: span Animal transportation


    // Pricing Box XL
    .cell-sm-6.cell-lg-3
      .box-price-info
        .box-price-info-image
          +png('car-03-245x92')

      .pricing-box.pricing-box-xl.pricing-box-novi
        .pricing-box-header
          h4 MINIVAN
        .pricing-box-price
          .heading-2
            sup $
            | 2.00/km
        a.button.button-sm.button-secondary.button-nina(href='#') order now
        .pricing-box-body
          ul.pricing-box-list
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-earth
                .unit-body: span Lots of locations
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-av-timer
                .unit-body: span Waiting for over 10 min
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-smoking
                .unit-body: span Smoking/Non-smoking car
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-weight
                .unit-body: span Luggage transportation
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-baby
                .unit-body: span Baby seat
            li.inactive
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-cat
                .unit-body: span Animal transportation

    // Pricing Box XL
    .cell-sm-6.cell-lg-3
      .box-price-info
        .box-price-info-image
          +png('car-04-279x93')

      .pricing-box.pricing-box-xl.pricing-box-novi
        .pricing-box-header
          h4 TRUCK
        .pricing-box-price
          .heading-2
            sup $
            | 3.00/km
        a.button.button-sm.button-secondary.button-nina(href='#') order now
        .pricing-box-body
          ul.pricing-box-list
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-earth
                .unit-body: span Lots of locations
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-av-timer
                .unit-body: span Waiting for over 10 min
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-smoking
                .unit-body: span Smoking/Non-smoking car
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-weight
                .unit-body: span Luggage transportation
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-baby
                .unit-body: span Baby seat
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-primary.mdi.mdi-cat
                .unit-body: span Animal transportation