.shell.shell-wide
  .range.range-50.range-sm-center
    .cell-sm-11.cell-md-10.cell-xl-7.cell-xxl-6
      h3 testimonials
      .divider.divider-default

      // Owl Carousel
      .owl-carousel.owl-layout-2(data-items='1', data-dots='true' data-nav='false' data-stage-padding='0', data-loop='true', data-margin='30', data-mouse-drag="false")
        article.quote-vertical
          +jpg('quote-user-1-210x210', 'quote-vertical-image')
          .quote-vertical-text
            p I am happy to send you this message! Your dispatcher and the driver went out of their way to help me tonight. I left a cell phone in the taxi and they were able to locate it and returned it. I had a very positive experience with the company and will continue to use and recommend them in the future.Thank you for your amazing service.

          .quote-vertical-meta
            p.quote-vertical-cite Jose Gutierrez
            p.quote-vertical-small Regular Customer


        article.quote-vertical
          +jpg('quote-user-2-210x210', 'quote-vertical-image')
          .quote-vertical-text
            p I am very apprehensive about taxi rides because I have not had pleasant experiences before. You were different because your driver was friendly and courteous. He shared with us knowledge about the city and places to visit. Everyone in your team was very professional. You provide exceptional taxi services.

          .quote-vertical-meta
            p.quote-vertical-cite Debra Ortega
            p.quote-vertical-small Regular Customer


        article.quote-vertical
          +jpg('quote-user-3-210x210', 'quote-vertical-image')
          .quote-vertical-text
            p Just wanted to say how satisfied I was with the driver James, he was friendly and drove very well. The car was excellent and I will recommend your service. Actually, all vehicles are very modern, clean, and drivers are well groomed and professional. I think every American state needs such taxi service. Thank you!

          .quote-vertical-meta
            p.quote-vertical-cite Jose Gutierrez
            p.quote-vertical-small Regular Customer