section.section.section-xs.text-center.bg-gradient-1
  .shell-wide
    .box-cta-thin
      p.big
        span.label-cta.label-cta-primary Hot!
        strong Brave Theme
        span &nbsp;is your choice in the world of great templates.&nbsp;
        a(href=getTemplateLink target='_blank').link-bold Buy it now!
="\n"
