extends  ../_skeleton

//- Header types includes
include ../elements/_ui-header-types

block variables
  - var activeIndex = 2
  - var pageName = 'Navigation bar corporate'

block page

  +corporate-navigation({
    activeItemName: 'main title',
    path: [[menu[activeIndex].title, menu[activeIndex].link], [pageName]]
  })
  +disable-events
